<!DOCTYPE html>
<html>
    <head>
        <title>Party App v1.0</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script type="text/javascript" src="./public/js/logic.js"></script>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/party">Dashboard</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/logout">LogOut</a>
        