<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Party App v1.0</title>
      <link rel="icon" href="/media/logo.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
      <!-- <script type="text/javascript" src="./public/js/logic.js"></script> -->
    </head>
