body, html, ul, li, div, button,input,textarea
{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
  font-family: Calibri;
}
h1, h2, h3{
  color : white;
}
html{
  background: #1F2539;
}
li{
  list-style: none;
}
a
{
  text-decoration: none;
  cursor: pointer;
}
hr{
  border : 1px solid #586076;
  opacity: .5;
}
button, input[type="submit"]{
  cursor: pointer;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"]{
  color : white;
}
.btn-blue{
  background: #3C80ED;
  color : white;
  font-weight: bold;
  border: 0px;
}
.btn-pink{
  background: #E63E98;
  color : white;
  font-weight: bold;
  border : 0px;
}
.btn-blue-hollow{
  background: none;
  border: 2px solid #3C80ED;
  color : white;
  font-weight: bold;
}
#logout{
  cursor: pointer;
}
/*
---------------------------------------------------------------------
                            SIGN IN PAGE, SIGN UP PAGE
---------------------------------------------------------------------
*/
.sign-in, .sign-up
{
  width : 100%;
  padding: 30px 80px;
}
.sign-in h1, .sign-in h2, .sign-in a,.sign-up h1, .sign-up h2, .sign-up a{
  color : white;
}
.sign-in .wrapper, .sign-up .wrapper
{
  width : 100%;
  display: flex;
  justify-content: space-between;
}
.sign-in-banner, .sign-up-banner{
  border-radius: 10px;
  height : 80vh;
  width : 45%;
  background: url(/media/login-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sign-up-banner{
  background: url(/media/signup-banner.jpg);
}
.sign-in-content, .sign-up-content{
  width : 50%;
  padding : 40px 0px;
}
#signin-form, #signup-form{
  width : 90%;
  margin: 0px auto;;
}
#signin-form h1, #signup-form h1{
  margin-bottom : 60px;
}
#signin-form input, #sign-up-btn, #signup-form input,#sign-in-btn{
  width : 100%;
  height : 35px;
  display: block;
  border: 0px;
  border-radius: 15px;
  outline-style: none;
}
#signin-form input[type=text],#signin-form input[type=email],#signin-form input[type=password], #signup-form input[type=text],#signup-form input[type=email],#signup-form input[type=tel],#signup-form input[type=password]
{
  background: #424B71;
  padding: 0px 20px;
  margin : 20px 0px;
}

/* DOM Interaction for error Note : display : block*/
#username-warning, #password-warning{
  display: none;
}
/*--------------------------------------------------------------------
                              User Profile
----------------------------------------------------------------------*/
.profile{
  width: 100%;
  height: 100%;
  position: relative;
  padding : 30px 50px;
}
.profile header, .party header
{
  display: flex;
  justify-content: space-between;
}
.profile-icon{
  height : 50px;
  width : 50px;
  border-radius: 100%;
}
.profile-banner
{
  width : 100%;
  border-radius: 10px;
  height : 200px;
  padding-top : 40px;
  background: #313A56;
}
.profile-banner .banner-content{
  text-align: center;
  width : 300px;
  margin: 0px auto;
}
.profile-banner .banner-content h3{
  color : white;
  font-size: 25px;
  line-height : 0px;
}
.profile-banner .banner-content p{
  color : #B6B6B6;
  line-height : 10px;
}
.profile-banner .banner-content button{
  height : 35px;
  width : 140px;
  border-radius : 10px;
}
.join-message{
  width : 90%;
  border-radius: 5px;
  background-color: #2ecc71;
  color : white;
  font-weight: bold;
  padding : 5px 10px;
  margin: 30px auto 5px auto;
  display: none;
}
.banner-btn-wrapper{
  width : 300px;
  display: flex;
  justify-content: space-between;
}
.filter-party{
  margin: 20px 0px;
}
/* .filter-party .filter-buttons{

} */
.filter-party .filter-buttons button{
  background: none;
  color : #BCBCBC;
  border : 2px solid #424B71;
  width : 100px;
  height : 30px;
  border-radius: 100px;
  margin : 0px 20px 20px 0px;
  outline-style: none;
}
#sort-section > button:hover{
    transition : all ease-in .2s;
  background: rgba(230, 62,152, 1);
}
.filter-party .filter-buttons button.active{
  background: #E63E98;
  color : white;
  font-weight: bold;
  border: none;
  margin-bottom : 20px;

  outline-style: none;
}
.party-list{
  width : 100%;
  margin : 40px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.party-list>a{
  width : 250px;
  margin : 0px 10px;
}
.party-list li{
  width : inherit;
  height : 200px;
  padding: 10px;
  border-radius: 10px;
  background: #424B71;
  color : white;
  margin: 10px;
  transition: .2s linear all;
}
.party-list li:hover
{
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
box-shadow: 0px 30px 22px 0px rgba(0,0,0,0.16);
}
.overlay
{
  display: none;
  top: 0px;
  left : 0px;
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  min-height : 100vh;
  height: inherit;
}
.overlay.active{
  display : block;
}
.overlay .popup{
  position: fixed;
  width : 400px;
  margin-top : 50px;
  left : calc((100% - 400px)/2);
  min-height: 300px;
  background: #313A56;
  border-radius: 10px;
  padding : 0px 30px;
}
.close-icon{
  margin-top : 25px;
  height : 20px;
  width: 20px;
  cursor: pointer;
  opacity: .4;
  background-repeat: no-repeat;
  background-image: url('/media/close.png');
  background-position: center;
  background-size: 100% 100%;
}
.popup form{
  width : 100%;
  margin : 20px 0px;
}
.popup form input, .popup form select, .popup form textarea{
  display: block;
  color : white;
  width: 100%;
  padding : 0px 10px;
  border-radius: 5px;
  border: 0px;
  height : 30px;
  margin: 5px 0px 10px 0px;
}
.popup form label{
  color : white;
  margin-top: 10px;
}
.popup form input[type="text"], .popup form input[type="number"], .popup form input[type="date"], .popup form select,.popup form textarea
{
  background: #424B71;
}
.popup form textarea{
  height : 60px;
  padding : 10px;
}
/*--------------------------------------------------------------------
                              Party Dashboard
----------------------------------------------------------------------*/
.party{
  width: 100%;
  height: 100%;
  position: relative;
  padding : 30px 50px;
}
.party span{
  font-weight: 300;
}
.party-grid{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.party-grid .column-1{
  width: 59%;
}
.party-grid .column-2{
  width : 40%;
}
.party-grid .column-1 > div, .party-grid .column-2 > div{
  background: #313A56;
  padding : 20px 30px;
  border-radius: 10px;
  width: 100%;
  margin-bottom : 10px;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
#party-description{
  color : white;
}
#show-participants, #edit-description{
  cursor: pointer;
  color : #E63E98;
  opacity: .7;
}
.party-intro .participants{
  display: flex;
  justify-content: space-between;
}
.party-intro .participants .participant-list{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.party-intro .participants .participant-list>.profile-icon{
  width : 35px;
  height : 35px;
  border-radius: 100%;
  margin-left: 10px;
}
.btn-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-wrapper>button{
  height : 40px;
  width : calc(50% - 5px);
  border-radius: 10px;
}
.party-items .item-list{
  margin-top : 20px;
}
.item-list li{
  width : 100%;
  height : 100px;
  margin-bottom: 10px;
  background: #424B71;
  border-radius: 10px;
  display: flex;
}
.item-list li .item-icon{
  height : 100px;
  width: 100px;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.item-list li p{
  color : white;
  line-height: 0px;
  margin-bottom: 25px;
}
.item-list li .item-content{
  padding : 10px;
  display: flex;
  width: calc(100% - 100px);
  justify-content: space-between;
}
.item-content .item-ops{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-ops .options{
  margin-top: 5px;
  height: 10px;
  width : 35px;
  cursor : pointer;
  background-position: center;
  background-image: url(/media/options.png);
  background-size: 100% 100%;
}
/* Customize the label (the custom-checkbox) */
.custom-checkbox {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 35px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 top: 0;
 left: 0;
 width: 0;
 height: 28px;
 width: 28px;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 border : 3px solid #586076;
 border-radius: 5px;
 background-color: transparent;
}


/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
 background-color: #2ecc71;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
.add-item{
  height: 50px;
  width: 50px;
  background-image: url(/media/add.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin : 20px auto 0px auto;
  cursor: pointer;
}

.party-entry, .party-invite{
  height : 200px;
  width: 300px;
  margin : 0px auto;
  background-image: url(/media/party-entry.png);
  background-position: center;
  background-size: 100% 100%;
}
.party-invite{
    background-image: url(/media/party-invite.png);
    height : 150px;
    width: 150px;
}
.cake-icon {
  background-image: url(/media/icons/cake.jpg);
}
.decorations-icon {
  background-image: url(/media/icons/decorations.jpg);
}
.party-popper-icon {
  background-image: url(/media/icons/party-popper.jpg);
}
.pizza-icon {
  background-image: url(/media/icons/pizza.jpg);
}
.food-icon {
  background-image: url(/media/icons/food.jpg);
}
.fruits-vegetables-icon {
  background-image: url(/media/icons/fruits-vegetables.jpg);
}
.water-icon {
  background-image: url(/media/icons/water.jpg);
}
.soda-icon {
  background-image: url(/media/icons/soda.jpg);
}
.beer-icon {
  background-image: url(/media/icons/beer.jpg);
}
.wine-icon {
  background-image: url(/media/icons/wine.jpg);
}
.cups-icon {
  background-image: url(/media/icons/cups.jpg);
}
.cards-icon {
  background-image: url(/media/icons/cards.jpg);
}
.board-games-icon {
  background-image: url(/media/icons/board-games.jpg);
}
.video-games-icon {
  background-image: url(/media/icons/video-games.jpg);
}
.past-status-display {
  display: none;
}
.ongoing-status-display, .upcoming-status-display {
  display: block;
}
.positive-adjust {
  color: greenyellow;
}
.neutral-adjust {
  color: slategrey;
}
.negative-adjust {
  color: crimson;
}

/*--------------------------------------------------------------------
                              Alert Messages
----------------------------------------------------------------------*/

.alert-warning{
  padding: 7px;
  background-color: #ff9800; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.alert-success{
  padding: 10px;
  background-color: #4CAF50; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.alert-danger{
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/*
--------------------------------------------------------------------------------
                 Participation list complete
--------------------------------------------------------------------------------
*/
.participant-list-header
{
  padding : 0px 10px;
  width : 100%;
  display: flex;
  justify-content: space-between;
  color : #72738d;
}
.participant-list-header .name-header{
  width : 100px;
}
.participant-list-complete{
  width : 100%;
  margin: 0px 0px 20px 0px;
  color : white;
  max-height: 350px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.participant-list-complete::-webkit-scrollbar{
  display: none;
}
.participant-list-complete > .participants{
  display : flex;
  width : 100%;
  border-radius: 10px;
  justify-content: space-between;
  background: #1F2539;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.participant-list-complete > .participants > .contribution-details{
  width : calc(100% - 50px);
  align-items: center;
  display : flex;
  justify-content: space-between;
  padding-left: 10px;
}
 .contribution-details > .user-name
 {
   max-width: 70px;
 }
 .contribution > .user-contribution{
   width : 100px;
   text-align: right;
 }
 .contribution > .adjustment{
   width : 100px;
   text-align: right;
 }
 /*
--------------------------------------------------------------------------------
                                MEDIA QUERIES
--------------------------------------------------------------------------------
 */
 @media only screen and (max-width: 1200px)
 {
   .party-grid .column-1{
     width: 49%;
   }
   .party-grid .column-2{
     width : 50%;
   }
 }
 @media only screen and (max-width: 1000px)
 {
   .party-grid{
     display: block;
   }
   .party-grid .column-1{
     width: 100%;
   }
   .party-grid .column-2{
     width : 100%;
   }
 }
 @media only screen and (max-width: 900px)
 {
   .party-list{
     justify-content: space-around;
   }
   .party-list>a{
     width : auto;
     margin : 0px 0px;;
     flex-grow: 1;
   }
 }
 @media only screen and (max-width: 800px) {
   .sign-in-banner, .sign-up-banner {
     display: none;
   }
   .sign-in-content, .sign-up-content {
     width : 100%;
   }
 }
 @media only screen and (max-width: 600px)
 {
   .profile
   {
     padding : 30px 20px;
   }
   .sign-in, .sign-up
   {
     padding : 30px 20px;
   }
   #signin-form, #signup-form{
     width : 100%;
   }
 }
 @media only screen and (max-width: 550px)
 {
   .party{
     padding : 30px 20px;
   }
   .party-grid .column-1 > div, .party-grid .column-2 > div{
     padding : 20px 20px;
   }
 }
 @media only screen and (max-width: 400px)
 {
   .profile
   {
     padding : 30px 20px;
   }
   .banner-btn-wrapper
   {
     flex-wrap: wrap;
   }
   .profile-banner .banner-content button{
     width : 100%;
     margin-bottom : 10px;
   }
   .profile-banner{
     padding-bottom : 200px;
   }
   .overlay .popup{
     width : 98%;
     margin-top : 30px;
     left : calc((100% - 98%)/2);
     padding : 0px 10px;
   }
 }
